/* Styles for mobile */
@media (max-width: 500px) 
{
    .card
    {
        width: 100%;
    }
    body
    {
        min-width: 400px;
    }
}
@media (min-width: 600px) 
{
    .card
    {
        width: 40%;
    }
}

.jumbotron
{
    height: -webkit-fill-available;
    overflow: auto;
    margin: 0px;
}