.col-4
{
    flex: 50%; 
    max-width: 50%; 
}
.row
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.card
{
    margin: 10px;
}

#bottom
{
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
}

#profile
{
    height: 200px;
    width: 200px;
}

.jumbotron
{
    margin-bottom: 0;
    height: 100%;
}