.col-4
{
    flex: 50%; 
    max-width: 50%; 
}
.row
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
#left
{
    float: left;
    width: 50%;
    padding: 10px;
}

#right
{
    float: right;
    width: 50%;
    padding: 10px
}

#bottom
{
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
}