/* Styles for mobile */
@media (max-width: 600px)
{
    .col-4, .col-8
    {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
    body
    {
        min-width: 400px;
    }
}
.jumbotron
{
    margin: 0px;
    height: -webkit-fill-available;
    overflow: auto;
}