*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.idea/dataSources/24cae5e9-e272-415c-836c-609c39636e2d.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
.idea/workspace.xml
